* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/OpenSansCondensed-Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../font/OpenSansCondensed-Bold.ttf');
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
}

.site-title {
    background: #0F6E5C;
    height: 101px;
    width: 100%;
    color: #fff;
    font-weight: 700;
    line-height: 101px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}

.border-none {
    border: 0px;
}

.cursor-pointer {
    cursor: pointer;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.bg-white {
    background: #fff;
}

.bg-dark-green {
    background: #0F6E5C;
}

.w-100p {
    width: 100%;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.f-wrap {
    flex-wrap: wrap;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-35 {
    font-size: 35px;
}

.fs-27 {
    font-size: 27px;
}

.justify-content-sb {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: start;
}

.f-between {
    display: flex;
    justify-content: space-between;
}

.align-self-end {
    align-self: end;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-22 {
    font-size: 21px;
}

.fs-19 {
    font-size: 19px;
}

.fs-30 {
    font-size: 30px;
}

.fs-26 {
    font-size: 26px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-14 {
    margin-top: 14px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.ml-30 {
    margin-left: 30px;
}

.pl-80 {
    padding-left: 80px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-25 {
    padding-left: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pr-90 {
    padding-right: 90px;
}

.lh-30 {
    line-height: 30px;
}

.color-dark-green {
    color: rgba(15, 110, 92, 1);
}

.color-red {
    color: rgba(222, 40, 40, 1);
}

.color-grey {
    color: #595a5e;
}

.color-black {
    color: black;
}

.w-148 {
    width: 148px;
}

.v-align-bottom {
    vertical-align: bottom;
}

.vertical-align-top {
    vertical-align: top;
}

#header {
    background: #43C6AC;
    height: 229px;
    width: 100%;
}

.header-content {
    padding-top: 26px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-el {
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.wishes {
    width: 50%;
    font-weight: 500;
}

.time {
    font-weight: 500;
}

.phone {
    color: #0F6E5C;
    font-weight: 700;
}

.phone-icon {
    margin-right: 10px;
}

.img-icon {
    height: 40px;
}

.form-input {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 22px;
}

input:focus {
    border: none;
}

.search-form {
    width: 56%;
    border-radius: 10px;
}

.search {
    width: 100%;
    border-radius: 10px;
    padding-left: 24px;
    height: 70px;
    border: none
}

.search:focus {
    background: rgba(255, 255, 255, 1);
    padding-left: 24px;
}

.search::placeholder {
    padding-left: 40px;
    color: rgba(15, 110, 92, 1);
    font-size: 22px;
    opacity: 0.4;
    background: url("../img/icons/search-icon.png") no-repeat scroll, rgba(255, 255, 255, 1);

}

.icon-text {
    color: rgba(15, 110, 92, 1);
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}

.flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 70%;
    margin: 100px auto 0;
}

.section-title {
    font-size: 36px;
    color: #000;
    font-weight: 700;
    padding-bottom: 30px;
}

.section-subtitle {
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
}

.section-content {
    width: 100%;
}

.books {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.book {
    width: 315px;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.book-title {
    margin-top: 20px;
}

.book-author {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
}

.book-price {
    color: rgba(222, 40, 40, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.book-old-price {
    color: #6b7280;
    text-decoration: line-through;
    font-weight: 500;
}

.book-cover img {
    width: 100%;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.btn-cart {
    background: #43C6AC;
    font-family: 'Montserrat', serif;
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
    padding-bottom: 9px;
    padding-top: 9px;
    height: 48px;
}

.btn-danger {
    background: #b61717;
    font-family: 'Montserrat', serif;
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
    padding-bottom: 9px;
    padding-top: 9px;
    height: 48px;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    padding-bottom: 130px;
}

footer {
    width: 100%;
    height: 157px;
    background: #0F6E5C;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding-bottom: 50px;
}

.copyright {
    font-family: Montserrat, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
}

.slogan {
    font-family: Montserrat, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.contact-operator {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 23px;
    letter-spacing: 0.005em;
    text-align: left;
}

.contact-phone {
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 5px;
}

.filter-parameter {
    list-style-type: none;
    line-height: 20px;
    vertical-align: middle;
}

.fake_label {
    vertical-align: top;
}

.filters {
    width: 100%;
}

.filter-title {
    width: 24%;
    text-align: left;
}

.filter-group {
    vertical-align: top;
}

.book-small {
    width: 240px;
}

.book-description {
    display: flex;
    align-items: flex-start;
}

.cover {
    width: 305px;
}

.cover img {
    width: 100%;
}

.vendor-code {
    line-height: 22px;
    vertical-align: bottom;
}

.stock {
    color: rgba(15, 110, 92, 1);
}

.btn-cart-big {
    width: 352px;
    color: white;
    background: rgba(15, 110, 92, 1);
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-top: 25px;
}

.spec {
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    height: 48px;
}

.spec-key {
    width: 325px;
}

.review {
    margin-top: 35px;
}

.cart {
    display: flex;
    justify-content: space-between;
}

.cart-books {
    width: 55%;
}

.cart-order {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    width: 425px;
    height: 330px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 109px 116px rgba(0, 0, 0, 0.07), 0px 41.9852px 36.9481px rgba(0, 0, 0, 0.0425185), 0px 8.88148px 9.45185px rgba(0, 0, 0, 0.0274815);
}

.cart-book {
    display: flex;
    margin-bottom: 49px;
}

#book-amount {
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 69px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(114, 114, 114, 0.6);
    box-sizing: border-box;
    border-radius: 10px;
}

.btn-order {
    background: #0F6E5C;
    height: 75px;
    width: 425px;
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
}

.btn-order:disabled {
    opacity: 0.4;
}

.card {
    width: 40%;
    margin-left: 0;
    margin-right: 0;
}

.jc-center {
    justify-content: center;
}

.justify-content-center {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
}

.card-body {
    width: 100%;
}

.form-control {
    width: calc(100% - 29px);
    max-width: calc(100% - 29px);
    margin-bottom: 25px;
    height: 70px;
    font-family: Montserrat, serif;
    font-size: 22px;
    font-weight: 500;
    padding-left: 29px;
    padding-top: 15px;
    border: 1px solid rgba(0, 0, 0, 1)
}

.form-control::placeholder {
    font-family: Montserrat, serif;
    font-weight: 500;
    font-size: 22px;
}

.form-checkbox {
    display: none;
}

.form-checkbox + label{
    background: url("../img/icons/checkbox-disabled-ico.png") no-repeat;
    display:inline-block;
    padding: 0 0 0 0px;
    height: 20px;
    width: 20px;
    background-size: 100%;
}

.form-checkbox:checked + label{
    background: url("../img/icons/checkbox-ico.png") no-repeat #D9F4EE;
    display:inline-block;
    height: 20px;
    width: 20px;
    background-size: 100%;
    border-radius: 2px;
}

.btn-auth {
    width: 100%;
    color: white;
    background: rgba(15, 110, 92, 1);
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    height: 75px;
}

.pagination-links {
    width: 40%;
    margin: 30px auto;

text-align: center}

.flex-column {
    flex-direction: column;
}

.dashboard-table-row {
    line-height: 30px;
}

.btn-link-danger {
    background: none;
    border: 0;
    color: #b61717;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 500;
}

.menu-item {
    margin-top: 50px;
}

.menu-item-title {
    display: flex;
    align-items: center;
    color: #000;
}

.submenu {
    margin-left: 100px;
}

.menu-icon {
    width: 40px;
    height: 40px;
    padding-right: 27px;
}

.cart-amount {
    position: relative;
}

.quantity {
    display: block;
    color: white;
    background-color: #e22222;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
}
